RewriteEngine On

# Exclude specific folders from rewriting
RewriteRule ^(public|storage|images|lib)($|/) - [L]

# Allow direct access to existing files and directories
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite the URL to 'index.php' with the original path as a query parameter.
RewriteRule ^(.*)$ index.php?/$1 [L]

# Redirect all other requests to index.php
RewriteRule ^ index.php [QSA,L]
