@import url('variables.css');
@import url('utilities.css');


:root {
  --width-sidebar: 250px;
}

@media (min-width: 768px) {
  .offcanvas-mobile {
    visibility: visible !important;
    transform: translateX(0) !important;
    width: var(--width-sidebar) !important;
  }
}


/*ejemplo de menu con fixed */

body {
    font-size: 14px;
    font-family: var(--primary-font-family);
    font-family: var(--secondary-font-family);
    font-weight: 600;
    background: #f5f5f5;

}

h1, h2, h3, h4, h5, h6 { 
  line-height: 1.2;
  font-weight: inherit; 
  font-family: var(--primary-font-family);
  font-weight: normal;
}

.nav {
    position: fixed;
    /* width: 14%; */
    width: var(--width-sidebar);
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    
}

.nav .logo-name{
    font-size: 1.5rem;
    margin-left: 8px;
    color: var(--color-secondary-light);
    font-family: var(--primary-font-family);
}

.nav .icon {
    display: inline-block;
    width: 30px;
}

.header{
    font-size: 1.3em;
    padding: 1em;
    margin: 0;
    background: rgb(0,0,0,0.1);
    text-align: center;
}

.menu-fixed,
.menu-fixed2 {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
  
}
.menu-fixed{
    padding: 1.4em;
}
.nav .nav__a{
  display: block;
  position: relative;
  text-decoration: none;
  line-height: 1em;
  color: var(--color-base);
  text-align: left;
  font-size: 1.2em;
  padding: 15px;
  transition: color .3s;
}

.nav .nav__a.active::after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  bottom: 10px;
  width: 3px;
  border-radius: 8px;
  background-color: var(--color-secondary);
}

.nav .nav__a.active  {
  color: var(--color-secondary);
}
.nav .nav__a:hover {
  color: var(--color-secondary-light);
}

.nav {
    position: fixed;
    background: var(--color-primary);

}
/* /////////////////////*/


.menu {
    position: fixed;
    background: #F8F9FA;
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.1);
    left: 20%;
    padding: 15px 10px;
    width: 78%;
    float: left;
   
  }
  
  .item-menu{
    float: right;
    list-style-type: none;
    text-align: left;
    
  }
  
  .link-menu {
   font-size: 1.5em;
   padding-right: 2em;
   text-decoration: none;
   text-align: center;
   color: #2c3e5b;
   color: black;
  }

/*contenido principal*/
.contenedor{
    margin-left: var(--width-sidebar);
}

@media only screen and (max-width: 768px) {
  .contenedor{
    margin-left: 0;
  }
}

.izquierda {
    margin-left: 1em;
}
.error{
    color: red;
}
.photo-perfil-edit{
    width: 100%;
}
.fecha{
    font-size: 1.5em;
    font-weight: 700;
    margin-right: 1.5em;
}
.reloj-label{
    font-weight: 700;
    font-size: 1.8em;
    text-align: center;

}



.user__photo {
}

.user__photo img {
  box-shadow: 0 0 5px rgb(194, 194, 194);
  width: 110px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.user__contacts a {
  /* background-color: var(--color-primary-opacity-high); */
  box-shadow:0 0 6px var(--color-primary-opacity-high); ;
  color: var(--color-secondary);
  padding: 10px;
  border-radius: 7px;
  font-size: 1.4rem;
  font-weight: 800;
  transition: .4s;
}

.user__contacts a:hover {
  color: var(--color-base);
  background: var(--color-secondary);
}
