:root{
  --color-primary: rgb(10, 26, 41);
  --color-primary-opacity: rgba(10, 26, 41, .8);
  --color-primary-opacity-high: rgba(24, 49, 72, 0.3);
  --color-primary-opacity-low: rgba(10, 26, 41, .93);
  --color-secondary: rgb(237, 164, 59);
  --color-secondary-opacity: rgba(237, 164, 59, 0.7);
  --color-secondary-light: rgb(255, 199, 164);
  --color-base: rgb(241, 236, 230);

  --primary-font-family: 'Concert One', cursive;
  --secondary-font-family: 'Dosis', sans-serif;
}